

.container{
    margin: 10rem 10rem;
    height: 15rem;
    width: 15rem;
    /* color: black; */
    background-color: #000;
    transform: rotate(45deg);
    border: 20px solid black;
    border-left-color: #a7d5a6;
    border-right-color: #b8b3a0 ;
    border-top-color: #d77e4f;
    border-bottom-color:#54a7f3 ;
    padding: 0px;

}
.inner_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   margin: 20px;
    height: 13rem;
    width: 13rem;
    transform: rotate(-45 deg);
    background-color: #000;
    /* border: 1px solid white; */
    padding: 0;
}

.inner_container h2{
    transform: rotate(-45deg);
    color: #fefbf3;
    /* border: 2px solid white; */
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}   

.inner_container span{
    color:  #d77e4f;;
}


.inner_container h6{
    transform: rotate(-45deg);
    color: #fefbf3;
    /* border: 2px solid white; */
    font-family: Arial, Helvetica, sans-serif;
    margin: 1px 0 0 45px;
    padding: 0;
}